:root {
    font-size: 62.5%;
    font-family: 'poppins', Arial, Helvetica, sans-serif
}

@font-face {
    font-family: 'poppins';
    src: url(Poppins-Regular.ttf);

    font-family: 'poppins-bold';
    src: url(Poppins-Bold.ttf);
}

*{
    overflow: hidden;
    font-size: clamp(1.6rem, 3%, 2rem);
}

body {
    margin: 0rem;
    padding: 0rem;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;

    background-color: #212121;
    color: #fff;
    font-size: clamp(1.6rem, 2vw, 1.8rem);

    display: grid;
    grid-template-columns: 7% 1fr;
    grid-template-rows: 13% 1fr 1fr;
    grid-template-areas:
        "header header"
        "nav main"
        "nav main";
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    grid-area: header;
    border-bottom: 1px solid #fff;

    display: flex;
}

nav {
    border-right: 1px solid #fff;
    grid-area: nav;
    padding-top: 3rem;

    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
}

nav img{
    width: 4.2rem;
}



/*header syle*/
header .logo {
    font-family: 'poppins-bold';
    font-size: clamp(1.8rem, 3vw, 3.3rem);
    font-weight: bold;
    width: fit-content;
    margin-left: 2%;
    justify-content: center;
    align-self: center;

    background: linear-gradient(to right, #3AAEF8, #9F62ED);
    color: transparent;
    background-clip: text;
}

header form {
    width: clamp(23rem, 38%, 50rem);
    height: 3.5rem;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-self: center;
    align-self: center;

    display: flex;
    justify-content:center;
}

header form input[type="search"] {
    flex-grow: 1;
    border-radius: 2rem 0 0 2rem;
    background-color: transparent;
    color: #fff;
    border: 1px solid #d0cbcbde;
    padding-left: 3rem;
}

header form input[type="search"]:focus {
    outline: none;
}

header form button {
    min-width: fit-content;
    width: 15%;
    border-radius: 0 2rem  2rem 0;
    background-color: transparent;
    color: #fff;
    border: 1px solid #d0cbcbde;
    border-left: none;
    font-size: 1.4rem;
}



/*Main Style*/
main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

main .related_nav {
    width: 100%;
    min-height: 5rem;
    height: fit-content;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding: 1rem;
    gap: 2rem;
    
    overflow-x: scroll;
}

.related_nav::-webkit-scrollbar {
    height: 10px;
}

.related_nav::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #3AAEF8, #9F62ED);
    border-radius: 0.6rem;
}

.related {
    border: 1px solid #fff;
    padding: 0.3rem 2rem;
    border-radius: 1.5rem;
    min-width: fit-content;
}

.main-content {
    width: 100%;
    max-height: 100%;
    padding: 0 7%;
    padding-top: 2rem;

    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 4rem;
}

.homepage-main-content {
    height:87%;
    width: 100%;
    padding: 0 7%;
    padding-top: 2rem;

    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 4rem;
}

.homepage-main-content::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.main-content::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}


/* Preview Content */

.notify {
    min-width: 15rem;
    min-height: 3rem;
    background-color: black;
    color: white;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    display: none;
    box-shadow: 0 0 0.7rem ;

    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 2rem;
    white-space: nowrap;
    z-index: 1;
    text-align: center;
}

.preview-content {
    width: 100%;
    height: 65%;
    border: 1px solid #d0cbcbde;
    border-radius: 1rem;
    margin: 0rem 0 2em;
}

.preview-content img {
    height: 100%;
    width: 60%;
    border-radius: 0.8rem;
    float: right;
    object-fit: cover;
}

.preview-content figcaption {
    height: 100%;
    padding: 2rem ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.preview-content figcaption b {
    font-size: clamp(2.5rem, 4vw, 4rem);
    font-family: 'poppins-bold';
}

.preview-content figcaption p {
    font-size: 1.3rem;
    margin: 0.4rem 0;
    width: 100%;
}

.play-now {
    background-color: red;
    padding:  0.3rem 1.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.play-now p {
    white-space: nowrap;
}

.preview-content button {
    font-size: 1rem;
    padding: 0.3rem 1rem;
    width: 100%;
}

.play-now img {
    height: 1.3rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 0;
}


.main-content .trending-contents {
    width: 109%;
    height: 44%;

    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 3rem;
    padding-right: 3rem;
    margin-bottom: 3rem;
}

.trending-contents::-webkit-scrollbar {
    height: 10px;
}

.trending-contents::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #3AAEF8, #9F62ED);
    border-radius: 0.6rem;
}

.trending {
    height: 100%;
    width: 20%;
    min-width: 28rem;
    border: 1px solid #d0cbcbde;
    border-radius: 0.8rem;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-bottom: 2rem;
    margin: 1rem;
}

.trending img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.trending figcaption {
    width: 100%;
    height:20%;
    padding: 1rem;
    box-sizing: border-box;
}

/*Homepage*/
    .trending-label {
        font-size: clamp(2rem, 2vw, 3rem);
        color:rgb(248, 20, 20);
        font-weight: bold;
        margin: 1rem 0;
        width: fit-content;
    }

    .trend {
        height: 55%;
        width: 109%;
        overflow-x: auto;
        padding-bottom: 6px;
        padding-right:3rem;
        box-sizing: border-box;

        display: flex;
    }

    .trend::-webkit-scrollbar {
        height: 10px;
    }
    
    .trend::-webkit-scrollbar-thumb {
        background: linear-gradient(to right, #3AAEF8, #9F62ED);
        border-radius: 0.6rem;
    }
    
    .trend .trend-items {
        height: 90%;
        width: 30%;
        min-width: 40rem;
        flex-shrink: 0;
        border: 1px solid white;
        border-radius: 1rem;
        margin: 1rem;

        display: flex;
        flex-direction: column;
    }

    .trend .trend-items img {
        width: 100%;
        height:80%;
        border: 1px solid #827f7f;
        border-radius: 1rem 1rem 0 0;
        box-sizing: border-box;
    }

    .trend-items figcaption {
        width: 100%;
        height: 20%;
        padding: 1rem;
    }
    
    .trend-items figcaption p{
        margin: 0.7rem 0;
        font-size: 1.3rem;
        color: rgba(205, 202, 202, 0.877);
    }

    .recommended {
        min-height: 30%;
        width: 100%;
        margin-bottom: 3rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        row-gap: 3rem;
        column-gap: 1rem;
    }

    .recommend-label {
        font-size: clamp(1.7rem, 1vw, 2.5rem);
        font-weight: bold;
        margin: 1rem 0;
        margin-top: 3rem;
        width: fit-content;     
    }

    .recommendation {
        height: 27rem;
        border: 1px solid #827f7f;
        border-radius: 1rem;

        display: flex;
        flex-wrap: wrap;
    }

    .recommendation img {
        width: 100%;
        height: 68%;
        border-bottom: 1px solid #fff;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover; 
    }

    .recommendation figcaption {
        width: 100%;
        height: 32%;
        justify-self: flex-end;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        margin: 0rem;

        display: flex;
        flex-direction: column;
    }

    .recommendation figcaption b {
        width: 100%;
        margin: 0.5rem 0;
    }

    .recommendation figcaption i,
    .recommendation figcaption p {
        width: 100%;
        margin: 0;
        font-size: 1.3rem;
        color: rgba(205, 202, 202, 0.877);
    }



    /* Play video*/
    .play-video-container {
        max-width: 100%;
        height: 95%;
        margin: 0 auto;
        padding: 0 5%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 20%;
    }

    .play-video-container figcaption {
        padding: 2rem 0;
    }

    .play-video-container figcaption b{
        font-family: 'poppins-bold';
        font-size: clamp(2.5rem, 4vw, 3rem);
    }

    .play-video-container figcaption p,
    .play-video-container figcaption i {
        display: block;
        margin: 0.4rem 0 ;
        color: rgba(205, 202, 202, 0.877);
    }

    .play-video-container img {
        width: 100%;
        height: 100%;
        object-position: center;
        border-radius: 1rem;
    }

    .play-video-container div:nth-child(1) {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .play-video-container #play {
        width: 5rem;
        height: 5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        bottom: 50%;
        right: 50%;
    }

    .episodes {
        border: 2px solid rgb(5, 96, 244);
        margin: 5rem 0;
        padding: 3rem 5%;
        border-radius: 1.2rem;

        display: flex;
        flex-wrap: wrap;
        column-gap: 3rem;
        row-gap: 3rem;
    }

    .episodes h3 {
        width: 100%;
    }

    .episode {
        border: 2px solid white;
        border-radius: 0.7rem;
        padding: 0.5rem 1.5rem;
        min-width: 2rem;
        text-align: center;
        font-weight: bold;
    }

    /* Collection */
    .collection-container {
        width: 100%;
        min-height: 80%;
        border: 2px solid rgb(5, 96, 244);
        border-radius: 1.5rem;
        padding: 2rem;

        /* display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        row-gap: 4rem; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        row-gap: 3rem;
        column-gap: 1rem;
        place-items: center;
        align-items: start;
    }

    #collection-label {
        font-size: clamp(3rem, 2vw, 3.5rem);
    }

    .collection-item {
        width: 25rem;
        height: 27rem;
        border: 1px solid #827f7f;
        margin: 1 3rem;
        border-radius: 1rem;
        position: relative;

        display: flex;
        flex-direction: column;
    }

    .collection-item img {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    .remove {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        max-width: 1.5rem;
        max-height: 1.5rem;
    }

    .remove:hover {
        background-color: #454444bd;
        transform: scale(1.1);
        /* transform: rotate(360deg); */
    }

    .collection-item figcaption {
        width: 100%;
        height: 30%;
        padding: 3%;
        box-sizing: border-box;
        border: 1px solid #827f7f;
        position: relative;
        align-self: flex-end;
    }

    .collection-item figcaption b{
        font-size: 1.5rem;
    }

    .collection-item figcaption p,
    .collection-item figcaption i {
        margin: 1px;
        font-size: 1.4rem;
        color: rgba(205, 202, 202, 0.877);
    }



    /* Settings */
    .settings-heading {
        font-size: clamp(2rem, 3vw, 4rem);
        font-family: 'poppins-bold';
        font-weight: bold;
    }

    .settings-content {
        padding-left: 3%;
    }

    .settings-content b:nth-child(1) {
        font-size: clamp(1.8rem, 2vw, 2.5rem);
        font-weight: lighter;
    }

    .settings-content p {
        margin: 0.3rem;
    }

    .settings-content ul {
        padding-left: 0;
    }

    .settings-content li {
        margin: 2.5rem 0rem;
    }